# paste this file to /usr/lib/systemd/system/mc-status-bot.service

[Unit]
Description=Minecraft Status Bot
Requires=network.target

[Service]
Type=idle
ExecStart=chmod +x /root/mcserver-discordbot/bot/run.sh && /root/mcserver-discordbot/bot/run.sh

[Install]
WantedBy=default.target
